<html>
    <head>
        <title> <%= title %></title>
    </head>
    <body>
        <% if(locals.category){ %>
            <ul>
                <% category.forEach(item => { %>
                    <li>
                        <h1><%= item.id %> <%= item.itemname %></h1>
                        <h2><%= item.itemdescription %></h2>
                    </li>
            <% }) %>
            </ul>
        <% } %>
    </body>
</html>