<html>
    <head>
        <title>Add new Category</title>
    </head>
    <form action="newCategory" method="POST">
        <label for="name">Enter Category Name</label><br>
        <input type="text" name="name" id="name">
        <br><br>
        <label for="description">Enter Category Description</label><br>
        <input type="text" name="description" id="description">
        <br><br>
        <button type="submit">
            Add Category
        </button>
    </form>
</html>